{#
Copyright 2018 Chris Kelly

Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
in compliance with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under the License
is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
or implied. See the License for the specific language governing permissions and limitations under
the License.
#}

<div class="tweetreply">
	<span class="tweettext {% if ( is_hidden ) %} tweethidden {% endif %} supposedquality_{{ supposedquality }}">{{ text }}</span>
	<div class="tweetmeta">
		<span class="tweetorders">[original: #{{ original_order }}, ranking: #{{ ranking_order }}, date: #{{ date_order }}]</span>
		<span class="tweetfrom">From @{{ handle}} <a href="{{ link }}" rel="nofollow">on</a> {{ dateStr }}</span>
		{% if ( blueSubscriber ) %} <span class="blue_subscriber">BLUE</span> {% endif %}
		{% if ( warningMessages ) %} <span class="user_warning_messages"> #{{ warningMessages }} </span> {% endif %}
	</div>
</div>
