{#
Copyright 2018 Chris Kelly

Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except
in compliance with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under the License
is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
or implied. See the License for the specific language governing permissions and limitations under
the License.
#}

<table class="tweettable">
	{% if ( urtweet ) %}
	<tr class="tweetrow">
		<td colspan="4">{{ urtweet }}</td>
	</tr>
	{% endif %}

	{% if ( replytweet ) %}
	<tr class="tweetrow">
		<td colspan="4">{{ replytweet }}</td>
	</tr>
	{% endif %}

	{% if ( sourcetweet ) %}
	<tr class="tweetrow">
		<td colspan="4">{{ sourcetweet }}</td>
	</tr>
	{% endif %}

	<tr class="infoheader">
		<th>Status</th>
		<th>Rank</th>
		<th>Expected Rank By Interaction</th>
		<th>Expected Rank By Date</th>
	</tr>

	<tr class="inforow">
		{{ status }}
		<td>{{ rank }}</td>
		<td>{{ rank_by_interaction }}</td>
		<td>{{ rank_by_date }}</td>
	</tr>

	{% if ( debugData != null ) %}
	<tr class="debugrow">
		<td colspan="4"><a class="hideshow" data-name-hide="hide" data-name-show="show" href="#">show</a> <pre class="debugdata hideshowcontent">{{ debugData }}</pre></td>
	</tr>
	{% endif %}
</table>
